body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    margin-bottom: 2em;
}

.headerlink {
    visibility: hidden;
    color: gray;
    margin: 0.5em;
    text-decoration: none;
}

.headerlink:hover {
     text-decoration: none;
}

.headerlink:visited {
    color: gray;
}

.content h2:hover .headerlink,
.content h3:hover .headerlink,
.content h4:hover .headerlink,
.content h5:hover .headerlink,
.content h6:hover .headerlink,
.content h1:hover .headerlink {
    visibility: visible;
}

.content h1:first-of-type {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: solid gray 2px;
}

.content h1:first-of-type .headerlink {
    display: none;
}

a, a:visited {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 2em;
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a, a:visited {
        color: dodgerblue;
    }
}

@media screen and (width <= 600px) {
    .content {
        width: 90%;
    }
}
